/* Empty. Add your own CSS if you like */
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#wrapper {
    width: 1024px;
    height: 768px;
    margin: 80px auto;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
    overflow: hidden;
    background: #333;
}

#scene {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#scene .zone {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    opacity:.8;
    z-index: 1;
}

#scene .zone span {
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

#scene .zone#zone-0 {
background-color: #fff;
opacity:1;
z-index: 2;
}

#scene .zone#zone-0 span {
    color: #000;
}

#scene .zone#zone-1 {
-webkit-transform: translate(-197px,-208px);
background-color: #fad957;
}

#scene .zone#zone-2 {
-webkit-transform: translate(-57px,-208px);
background-color: #eb584b;
}

#scene .zone#zone-3 {
-webkit-transform: translate(-214px,-51px);
background-color: #1496bf;
}

#scene .zone#zone-4 {
-webkit-transform: translate(-57px,26px);
background-color: #c465bb;
}

#scene .zone#zone-5 {
    -webkit-transform: translate(35px,-81px);
background-color: #000;
}


@-webkit-keyframes zone-1-fly {
  0%   {-webkit-transform: translate(-197px,-208px)  rotate(0deg) ; opacity:1;}
  25%   {-webkit-transform: translate(-377px,-378px)  rotate(0deg)  ; opacity:1; }
  75%   {-webkit-transform: translate(-377px,-378px)  rotate(360deg); opacity:1;}
  100% { -webkit-transform: translate(-50%,-50%) ;opacity:0;}
}

@-webkit-keyframes zone-1-zoom {
  0%   {-webkit-transform: translate(-197px,-208px) scale(1) ;}
  20%   {-webkit-transform: translate(-377px,-378px) scale(1);  }
  40% { -webkit-transform: translate(-377px,-378px) scale(1.1) ;}
  50% { -webkit-transform: translate(-50%,-50%) scale(1) ;}
  70% { -webkit-transform: translate(-50%,-50%) scale(1) ;}
  100% { -webkit-transform: scale(20);}
}

@-webkit-keyframes zone-1-dezoom {
  100%   {-webkit-transform: translate(-197px,-208px) scale(1) ;z-index:1;opacity:.8;}
  50% { -webkit-transform: translate(-50%,-50%) scale(1) ;opacity:1;}
  0% { -webkit-transform: scale(20);z-index:5;opacity:1;}
}

@-webkit-keyframes zone-2-fly {
  0%   {-webkit-transform: translate(-57px,-208px)  rotate(0deg) ; opacity:1;}
  25%   {-webkit-transform: translate(153px,-378px)  rotate(0deg)  ; opacity:1; }
  75%   {-webkit-transform: translate(153px,-378px)  rotate(360deg); opacity:1;}
  100% { -webkit-transform: translate(-50%,-50%) ;opacity:0;}
}

@-webkit-keyframes zone-2-defly {
  100%   {-webkit-transform: translate(-57px,-208px)  rotate(0deg) ; opacity:.8;}
  0% { -webkit-transform: translate(-50%,-50%) ;opacity:0;}
}

@-webkit-keyframes zone-3-fly {
  0%   {-webkit-transform: translate(-214px,-51px)  rotate(0deg) ; opacity:1;}
  25%   {-webkit-transform: translate(-474px,149px)  rotate(0deg)  ; opacity:1; }
  75%   {-webkit-transform: translate(-474px,149px)  rotate(360deg); opacity:1;}
  100% { -webkit-transform: translate(-50%,-50%) ;opacity:0;}
}

@-webkit-keyframes zone-3-defly {
  100%   {-webkit-transform: translate(-214px,-51px)  rotate(0deg) ; opacity:.8;}
  0% { -webkit-transform: translate(-50%,-50%) ;opacity:0;}
}

@-webkit-keyframes zone-4-fly {
  0%   {-webkit-transform: translate(-57px,26px)  rotate(0deg) ; opacity:1;}
  25%   {-webkit-transform: translate(73px,178px)  rotate(0deg)  ; opacity:1; }
  75%   {-webkit-transform: translate(73px,178px)  rotate(360deg); opacity:1;}
  100% { -webkit-transform: translate(-50%,-50%) ;opacity:0;}
}

@-webkit-keyframes zone-4-defly {
  100%   {-webkit-transform: translate(-57px,26px)  rotate(0deg) ; opacity:.8;}
  0% { -webkit-transform: translate(-50%,-50%) ;opacity:0;}
}

@-webkit-keyframes zone-4-zoom {
  0%   {-webkit-transform: translate(-57px,26px) scale(1) ;}
  20%   {-webkit-transform: translate(73px,178px) scale(1);  }
  40% { -webkit-transform: translate(73px,178px) scale(1.1) ;}
  50% { -webkit-transform: translate(-50%,-50%) scale(1) ;}
  70% { -webkit-transform: translate(-50%,-50%) scale(1) ;}
  100% { -webkit-transform: scale(20);}
}

@-webkit-keyframes zone-4-dezoom {
  100%   {-webkit-transform: translate(-57px,26px) scale(1) ;z-index:1;opacity:.8;}
  50% { -webkit-transform: translate(-50%,-50%) scale(1) ;opacity:1;}
  0% { -webkit-transform: scale(20);z-index:5;opacity:1;}
}

@-webkit-keyframes zone-5-fly {
  0%   {-webkit-transform: translate(35px,-81px)  rotate(0deg) ; opacity:1;}
  25%   {-webkit-transform: translate(275px,-81px)  rotate(0deg)  ; opacity:1; }
  75%   {-webkit-transform: translate(275px,-81px)  rotate(360deg); opacity:1;}
  100% { -webkit-transform: translate(-50%,-50%) ;opacity:0;}
}

@-webkit-keyframes zone-5-defly {
  100%   {-webkit-transform: translate(35px,-81px)  rotate(0deg) ; opacity:.8;}
  0% { -webkit-transform: translate(-50%,-50%) ;opacity:0;}
}

@-webkit-keyframes zoom-span {
  0%   {opacity : 1;}
  20%   {}
  40% { }
  50% { }
  70% {opacity : 1; }
  100% { opacity : 0;}
}

#scene .zone#zone-1.fly {
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: zone-1-fly 1s ease-out forwards;
}

#scene .zone#zone-1.zoom {
    z-index:5;
    opacity:1;
    box-shadow: 0 0 2px #000;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: zone-1-zoom 2s ease-out forwards;
}

#scene .zone#zone-1.dezoom {
    -webkit-animation: zone-1-dezoom 1s ease-out forwards;
}

#scene .zone#zone-2.fly {
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: zone-2-fly 1s ease-out forwards;
}

#scene .zone#zone-2.defly {
    -webkit-animation: zone-2-defly 1s ease-out forwards;
}

#scene .zone#zone-3.fly {
    -webkit-animation: zone-3-fly 1s ease-out forwards;
}

#scene .zone#zone-3.defly {
    -webkit-animation: zone-3-defly 1s ease-out forwards;
}

#scene .zone#zone-4.fly {
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: zone-4-fly 1s ease-out forwards;
}

#scene .zone#zone-4.defly {
    -webkit-animation: zone-4-defly 1s ease-out forwards;
}

#scene .zone#zone-4.zoom {
    z-index:5;
    opacity:1;
    box-shadow: 0 0 2px #000;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: zone-4-zoom 2s ease-out forwards;
}

#scene .zone#zone-4.dezoom {
    -webkit-animation: zone-4-dezoom 1s ease-out forwards;
}

#scene .zone#zone-5.fly {
    -webkit-animation: zone-5-fly 1s ease-out forwards;
}

#scene .zone#zone-5.defly {
    -webkit-animation: zone-5-defly 1s ease-out forwards;
}

.zoom span {
    -webkit-animation: zoom-span 2s ease-out forwards;
}

#page {
    display: none;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    overflow: hidden;
}

.jaune #page {
    background: #fad957;
}

.violet #page {
    background: #c465bb;
}

.slidingdoor {
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 10;
    box-shadow: 0px 0 5px #000;
}

.violet .slidingdoor {
    box-shadow: none;
}

.slidingdoor.hide {
    opacity: 0;
}

.jaune .slidingdoor {
    background:#fad957;
}

.left {
    top: 0;
    left: -110%;
}

@-webkit-keyframes open_left {
  from   {-webkit-transform: translateX(220%); }
  to   {-webkit-transform: translateX(110%); }
}

@-webkit-keyframes close_left {
  from   {-webkit-transform: translateX(110%); }
  to   {-webkit-transform: translateX(220%); }
}

.left.opening {
    -webkit-animation: open_left .5s ease-in forwards;
}

.left.closing {
    -webkit-animation: close_left .5s ease-in forwards;
}

.right {
    top: 0;
    left: 110%;
}

@-webkit-keyframes open_right {
  from   {-webkit-transform: translateX(-110%); }
  to   { }
}

@-webkit-keyframes close_right {
  from   {-webkit-transform: translateX(110%); }
  to   {-webkit-transform: translateX(-120%); }
}

.right.opening {
    -webkit-animation: open_right .5s ease-in forwards;
}

.right.closing {
    -webkit-animation: close_right .5s ease-in forwards;
}

#page.on {display: block;}

.content-wrapper {
    height: 100%;
    position: relative;
}

#page .navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    text-align: center;
    height: 65px;
    color: #fff;
    line-height: 65px;
    padding: 0 10px;
}

.violet #page .navbar {
    top: -65px;
}

@-webkit-keyframes show_navbar {
  from   {-webkit-transform: translateY(0); }
  to   {-webkit-transform: translateY(65px); }
}

@-webkit-keyframes hide_navbar {
  from   {-webkit-transform: translateY(65px); }
  to   {-webkit-transform: translateY(-65px); }
}

.violet #page.on .navbar {
    -webkit-animation: show_navbar .3s ease-in forwards;
}

.violet #page.on .navbar.hide {
    -webkit-animation: hide_navbar .3s ease-in forwards;
}

.navbar a {
    display: inline-block;
    float: right;
    color: #fff;
}

.menu {
    position: absolute;
    width: 200px;
    color: #fff;
    left: 0;
    top: 0;
}

.content {
    position: absolute;
    background: #fff;
    height: 100%;
    width: 824px;
    left:200px;
    top: 0;
}

.violet .content {
    left:1024px;
}

@-webkit-keyframes show_content {
  from   {-webkit-transform: translateX(0px); }
  to   {-webkit-transform: translateX(-824px); }
}

@-webkit-keyframes hide_content {
  from   {-webkit-transform: translateX(-824px); }
  to   {-webkit-transform: translateX(824px); }
}

.violet #page.on .content {
    -webkit-animation: show_content .3s .3s  ease-in forwards;
}

.violet #page.on .content.hide {
    -webkit-animation: hide_content .3s  ease-in forwards;
}
