<ion-view title="Products">
  <ion-content class="has-header">
    <div id="content">
            <p>
            Kansas Joe McCoy and Memphis Minnie – "When The Levee Breaks"
            </p>
            <p>
              <button class="button" ng-click="download()">
                Download
              </button>
              <button class="button" ng-click="list()">
                LIste
              </button>
            </p>
        </div>
        <span my-files></span>
    <div id="status"></div>
  </ion-content>
</ion-view>
