<ion-view title="Dashboard">
  <ion-content class="padding">

  <div class="slidingdoor left"></div>
  <div class="slidingdoor right"></div>

    <div id="scene" class="zone-4">
        <a menu-item id="zone-{{item.id}}" class="ajaxy zone" data-rubrique="{{item.rubrique}}" ng-repeat="item in items">
        </a>
    </div>
  </ion-content>
</ion-view>
