<ion-view title="Sync It !">
  <ion-content class="has-header padding">
    <h1>Sync It !</h1>

    <button class="button" ng-click="reset()">
        Reset Database
    </button>

    <button class="button" ng-click="sync()">
        Sync Database
    </button>

    <button class="button" ng-click="clear()">
        Clear messages
    </button>

    <ion-list>
      <ion-item ng-repeat="message in messages track by $index" type="item-text-wrap">
        <blink>{{messages[$index]}}</blink>
      </ion-item>
    </ion-list>
    <div class="spinner" ng-show="loading"><b style="color:red">Loading  ... </b></div>

  </ion-content>
</ion-view>
