/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#wrapper {
    width: 1024px;
    height: 768px;
    margin: 80px auto;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
    overflow: hidden;
    background: #333;
}

#scene {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#scene .zone {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    opacity:.8;
    z-index: 1;
}

#scene .zone span {
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

#scene .zone#zone-0 {
background-color: #fff;
opacity:1;
z-index: 2;
}

#scene .zone#zone-0 span {
    color: #000;
}

#scene .zone#zone-1 {
-webkit-transform: translate(-197px,-208px);
background-color: #fad957;
}

#scene .zone#zone-2 {
-webkit-transform: translate(-57px,-208px);
background-color: #eb584b;
}

#scene .zone#zone-3 {
-webkit-transform: translate(-214px,-51px);
background-color: #1496bf;
}

#scene .zone#zone-4 {
-webkit-transform: translate(-57px,26px);
background-color: #c465bb;
}

#scene .zone#zone-5 {
    -webkit-transform: translate(35px,-81px);
background-color: #000;
}


@-webkit-keyframes zone-1-fly {
  0%   {-webkit-transform: translate(-197px,-208px)  rotate(0deg) ; opacity:1;}
  25%   {-webkit-transform: translate(-377px,-378px)  rotate(0deg)  ; opacity:1; }
  75%   {-webkit-transform: translate(-377px,-378px)  rotate(360deg); opacity:1;}
  100% { -webkit-transform: translate(-50%,-50%) ;opacity:0;}
}

@-webkit-keyframes zone-1-zoom {
  0%   {-webkit-transform: translate(-197px,-208px) scale(1) ;}
  20%   {-webkit-transform: translate(-377px,-378px) scale(1);  }
  40% { -webkit-transform: translate(-377px,-378px) scale(1.1) ;}
  50% { -webkit-transform: translate(-50%,-50%) scale(1) ;}
  70% { -webkit-transform: translate(-50%,-50%) scale(1) ;}
  100% { -webkit-transform: scale(20);}
}

@-webkit-keyframes zone-1-dezoom {
  100%   {-webkit-transform: translate(-197px,-208px) scale(1) ;z-index:1;opacity:.8;}
  50% { -webkit-transform: translate(-50%,-50%) scale(1) ;opacity:1;}
  0% { -webkit-transform: scale(20);z-index:5;opacity:1;}
}

@-webkit-keyframes zone-2-fly {
  0%   {-webkit-transform: translate(-57px,-208px)  rotate(0deg) ; opacity:1;}
  25%   {-webkit-transform: translate(153px,-378px)  rotate(0deg)  ; opacity:1; }
  75%   {-webkit-transform: translate(153px,-378px)  rotate(360deg); opacity:1;}
  100% { -webkit-transform: translate(-50%,-50%) ;opacity:0;}
}

@-webkit-keyframes zone-2-defly {
  100%   {-webkit-transform: translate(-57px,-208px)  rotate(0deg) ; opacity:.8;}
  0% { -webkit-transform: translate(-50%,-50%) ;opacity:0;}
}

@-webkit-keyframes zone-3-fly {
  0%   {-webkit-transform: translate(-214px,-51px)  rotate(0deg) ; opacity:1;}
  25%   {-webkit-transform: translate(-474px,149px)  rotate(0deg)  ; opacity:1; }
  75%   {-webkit-transform: translate(-474px,149px)  rotate(360deg); opacity:1;}
  100% { -webkit-transform: translate(-50%,-50%) ;opacity:0;}
}

@-webkit-keyframes zone-3-defly {
  100%   {-webkit-transform: translate(-214px,-51px)  rotate(0deg) ; opacity:.8;}
  0% { -webkit-transform: translate(-50%,-50%) ;opacity:0;}
}

@-webkit-keyframes zone-4-fly {
  0%   {-webkit-transform: translate(-57px,26px)  rotate(0deg) ; opacity:1;}
  25%   {-webkit-transform: translate(73px,178px)  rotate(0deg)  ; opacity:1; }
  75%   {-webkit-transform: translate(73px,178px)  rotate(360deg); opacity:1;}
  100% { -webkit-transform: translate(-50%,-50%) ;opacity:0;}
}

@-webkit-keyframes zone-4-defly {
  100%   {-webkit-transform: translate(-57px,26px)  rotate(0deg) ; opacity:.8;}
  0% { -webkit-transform: translate(-50%,-50%) ;opacity:0;}
}

@-webkit-keyframes zone-4-zoom {
  0%   {-webkit-transform: translate(-57px,26px) scale(1) ;}
  20%   {-webkit-transform: translate(73px,178px) scale(1);  }
  40% { -webkit-transform: translate(73px,178px) scale(1.1) ;}
  50% { -webkit-transform: translate(-50%,-50%) scale(1) ;}
  70% { -webkit-transform: translate(-50%,-50%) scale(1) ;}
  100% { -webkit-transform: scale(20);}
}

@-webkit-keyframes zone-4-dezoom {
  100%   {-webkit-transform: translate(-57px,26px) scale(1) ;z-index:1;opacity:.8;}
  50% { -webkit-transform: translate(-50%,-50%) scale(1) ;opacity:1;}
  0% { -webkit-transform: scale(20);z-index:5;opacity:1;}
}

@-webkit-keyframes zone-5-fly {
  0%   {-webkit-transform: translate(35px,-81px)  rotate(0deg) ; opacity:1;}
  25%   {-webkit-transform: translate(275px,-81px)  rotate(0deg)  ; opacity:1; }
  75%   {-webkit-transform: translate(275px,-81px)  rotate(360deg); opacity:1;}
  100% { -webkit-transform: translate(-50%,-50%) ;opacity:0;}
}

@-webkit-keyframes zone-5-defly {
  100%   {-webkit-transform: translate(35px,-81px)  rotate(0deg) ; opacity:.8;}
  0% { -webkit-transform: translate(-50%,-50%) ;opacity:0;}
}

@-webkit-keyframes zoom-span {
  0%   {opacity : 1;}
  20%   {}
  40% { }
  50% { }
  70% {opacity : 1; }
  100% { opacity : 0;}
}

#scene .zone#zone-1.fly {
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: zone-1-fly 1s ease-out forwards;   
}

#scene .zone#zone-1.zoom {
    z-index:5;
    opacity:1;
    box-shadow: 0 0 2px #000;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: zone-1-zoom 2s ease-out forwards;   
}

#scene .zone#zone-1.dezoom {
    -webkit-animation: zone-1-dezoom 1s ease-out forwards;   
}

#scene .zone#zone-2.fly {
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: zone-2-fly 1s ease-out forwards;   
}

#scene .zone#zone-2.defly {
    -webkit-animation: zone-2-defly 1s ease-out forwards;   
}

#scene .zone#zone-3.fly {
    -webkit-animation: zone-3-fly 1s ease-out forwards;   
}

#scene .zone#zone-3.defly {
    -webkit-animation: zone-3-defly 1s ease-out forwards;   
}

#scene .zone#zone-4.fly {
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: zone-4-fly 1s ease-out forwards;   
}

#scene .zone#zone-4.defly {
    -webkit-animation: zone-4-defly 1s ease-out forwards;   
}

#scene .zone#zone-4.zoom {
    z-index:5;
    opacity:1;
    box-shadow: 0 0 2px #000;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: zone-4-zoom 2s ease-out forwards;   
}

#scene .zone#zone-4.dezoom {
    -webkit-animation: zone-4-dezoom 1s ease-out forwards;   
}

#scene .zone#zone-5.fly {
    -webkit-animation: zone-5-fly 1s ease-out forwards;   
}

#scene .zone#zone-5.defly {
    -webkit-animation: zone-5-defly 1s ease-out forwards;   
}

.zoom span {
    -webkit-animation: zoom-span 2s ease-out forwards;
}

#page {
    display: none;
    border-radius: 10px;
    width: 100%;
    height: 100%; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    overflow: hidden;
}

.jaune #page {
    background: #fad957;
}

.violet #page {
    background: #c465bb;
}

.slidingdoor {
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 10;
    box-shadow: 0px 0 5px #000;
}

.violet .slidingdoor {
    box-shadow: none;
}

.slidingdoor.hide {
    opacity: 0;
}

.jaune .slidingdoor {
    background:#fad957;
}

.left { 
    top: 0;
    left: -110%; 
}

@-webkit-keyframes open_left {
  from   {-webkit-transform: translateX(220%); }
  to   {-webkit-transform: translateX(110%); }
}

@-webkit-keyframes close_left {
  from   {-webkit-transform: translateX(110%); }
  to   {-webkit-transform: translateX(220%); }
}

.left.opening { 
    -webkit-animation: open_left .5s ease-in forwards;
}

.left.closing { 
    -webkit-animation: close_left .5s ease-in forwards;
}

.right {
    top: 0;
    left: 110%;
}

@-webkit-keyframes open_right {
  from   {-webkit-transform: translateX(-110%); }
  to   { }
}

@-webkit-keyframes close_right {
  from   {-webkit-transform: translateX(110%); }
  to   {-webkit-transform: translateX(-120%); }
}

.right.opening { 
    -webkit-animation: open_right .5s ease-in forwards;
}

.right.closing { 
    -webkit-animation: close_right .5s ease-in forwards;
}

#page.on {display: block;}

.content-wrapper {
    height: 100%;
    position: relative;
}

#page .navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    text-align: center;
    height: 65px;
    color: #fff;
    line-height: 65px;
    padding: 0 10px;
}

.violet #page .navbar {
    top: -65px; 
}

@-webkit-keyframes show_navbar {
  from   {-webkit-transform: translateY(0); }
  to   {-webkit-transform: translateY(65px); }
}

@-webkit-keyframes hide_navbar {
  from   {-webkit-transform: translateY(65px); }
  to   {-webkit-transform: translateY(-65px); }
}

.violet #page.on .navbar {
    -webkit-animation: show_navbar .3s ease-in forwards;
}

.violet #page.on .navbar.hide {
    -webkit-animation: hide_navbar .3s ease-in forwards;
}

.navbar a {
    display: inline-block;
    float: right;
    color: #fff;
}

.menu {
    position: absolute;
    width: 200px;
    color: #fff;
    left: 0;
    top: 0; 
}

.content {
    position: absolute;
    background: #fff;
    height: 100%;
    width: 824px;
    left:200px;
    top: 0;
}

.violet .content {
    left:1024px;
}

@-webkit-keyframes show_content {
  from   {-webkit-transform: translateX(0px); }
  to   {-webkit-transform: translateX(-824px); }
}

@-webkit-keyframes hide_content {
  from   {-webkit-transform: translateX(-824px); }
  to   {-webkit-transform: translateX(824px); }
}

.violet #page.on .content {
    -webkit-animation: show_content .3s .3s  ease-in forwards;
}

.violet #page.on .content.hide {
    -webkit-animation: hide_content .3s  ease-in forwards;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
