<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="Product : {{product.name}}">
    <ion-content has-header="true" padding="true">
        <ul>
            <li>{{product.name}}</li>
            <li>{{product.video.filename}}</li>
        </ul>
    </ion-content>
</ion-view>
